<!DOCTYPE html>
<html>
<head>
  <!-- {!% include "{!{ theme_url }}/inc/head.twig" %} -->
  <meta charset="utf-8">
  <meta name="author" content="Fredrik Danielsson, http://lostkeys.se">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  {% if meta.description %}
    <meta name="description" content="{{ meta.description|striptags }}">
  {% endif %}

  <title>{{ site_title }}{% if meta.title %} | {{ meta.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ theme_dir }}/styles/highlightjs-github.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" integrity="sha256-nAmazAk6vS34Xqo0BSrTb+abbtFlgsFK7NKSi6o7Y78=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="{!{ theme_dir }}/styles/fontawesome-v572-all.css"> -->

  <link rel="stylesheet" href="{{ theme_dir }}/styles/main.css" type="text/css">
  <link rel="stylesheet" href="{{ theme_dir }}/styles/nav.css" type="text/css">
  {% for css_file in config.external_css %}
    <link rel="stylesheet" href="{{ css_file }}" type="text/css">
  {% endfor %}

  <!-- <style>
    /*
      .fas.fa-folder {}
      .fas.fa-folder-open {}
      .fas.fa-plus-square {}
      .fas.fa-minus-square {}
      .fas.fa-file {}
      .fas.fa-square {}
    */

    /*
    <!- - <ul class="fa-ul">
      <li><span class="fa-li" ><i class="fas fa-folder fa-xs" aria-hidden="true"></i></span>List item text</li>
      <li><span class="fa-li" ><i class="fas fa-folder-open fa-xs" aria-hidden="true"></i></span>List item text</li>
      <li><span class="fa-li" ><i class="fas fa-plus-square fa-xs" aria-hidden="true"></i></span>List item text</li>
      <li><span class="fa-li" ><i class="fas fa-minus-square fa-xs" aria-hidden="true"></i></span>List item text</li>
      <li><span class="fa-li" ><i class="fas fa-file fa-xs" aria-hidden="true"></i></span>List item text</li>
      <li><span class="fa-li" ><i class="fas fa-square fa-xs" aria-hidden="true"></i></span>List item text</li>
    </ul> - ->
    */
  </style> -->
</head>

<body>
  <!-- {!% include "{!{ theme_url }}/inc/aside.twig" %} -->
  <aside class="main-nav">
    <nav>
      <!--
        root node `/`
        ├── inner node `code`
        │   ├── inner node `html`
        │   │   ├── leaf node `attributes`
        │   │   ├── leaf node `elements`
        │   │   └── leaf node `pseudo-elements`
        │   └── leaf node `css`
        └── leaf node `contact`
      -->
      {% macro tree(parent) %}
        {% import _self as utils %}
        {% for child in parent.children %}
          {% if child.page %}
            <li class="inner-node">
              <a href="{{ child.page.url }}" class="leaf-node{% if child.page.id == current_page.id %} active{% endif %}">{{ child.page.title }}</a>
            </li>
          {% endif %}
          {% if child.children %}
            <li class="inner-node children">
              <ul class="group">
                {{ utils.tree(child) }}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      {% endmacro %}

      <ul class="menu">
        <li class="menu-header">
          <a href="{{ pages["index"].url }}" class="logotype">{{ pages["index"].title }}</a>
        </li>

        {% import _self as utils %}
        {{ utils.tree(pages["index"].tree_node) }}
      </ul>
    </nav>

    {% if config.twig_config.debug %}
    <!-- {! % include "{! { theme_url }}/inc/debug.twig" %} -->
    <p class="debug"><a class="cms" href="http://picocms.org/" title="PicoCMS">PicoCMS</a> <a class="ver" href="https://github.com/picocms/Pico/releases/tag/v{{ version }}" title="v{{ version }}">v{{ version }}</a></p>
    {% endif %}
  </aside>


  <!-- {!% include "{!{ theme_url }}/inc/content.twig" %} -->
  <main class="main-content">
    <article class="article">

      <!-- {!% include "{!{ theme_url }}/inc/on-page-toc.twig" %} -->

      {{ content }}

      {% if meta.date %}
      <hr>
      <small>{{ meta.date_formatted }}</small>
      {% endif %}

    </article>
  </main>

  <!-- {!% include "{!{ theme_url }}/inc/toc.twig" %} -->
  <nav class="page-toc">
    <ul id="page-toc-container"></ul>
  </nav>

  <!-- {!% include "{!{ theme_url }}/inc/scripts.twig" %} -->
  <!-- <script src="{!{ theme_url }}/scripts/highlight.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script src="{{ theme_url }}/scripts/mousetrap.min.js"></script>
  <script src="{{ theme_url }}/scripts/clipboard.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();

    document.querySelectorAll('.menuitem a').forEach(function(el) {
      if (el.getAttribute('data-shortcut').length > 0) {
        Mousetrap.bind(el.getAttribute('data-shortcut'), function() {
          location.assign(el.getAttribute('href'));
        });
      }
    });

    /**
     * Generate page table of contents
     * Get all H2 elements and render them in a list
     **/
    function generatePageTOC() {
      var tocContainer = document.getElementById('page-toc-container');

      document.querySelectorAll('.article h2').forEach(function(el, index) {
        // Insert a marker since anchor links breaks with css position sticky
        // sticky headers upwards are stacked at the top of the viewport
        // and therefore cannot be jumped to since they are already visible
        // Instead inject a hidden element to use as a scroll marker
        el.insertAdjacentHTML('beforebegin', '<i id="page-toc-'+index+'" class="page-toc-scroll-marker fas fa-anchor fa-lg"></i>');

        var newTocNavItem = document.createElement('li');
        var newTocNavItemLink = document.createElement('a');
        var newTocNavItemText = document.createTextNode(el.textContent);

        //newTocNavItemLink.classList.add('fas fa-anchor fa-lg');
        newTocNavItemLink.setAttribute('href', '#page-toc-' + index);
        newTocNavItemLink.appendChild(newTocNavItemText);
        newTocNavItem.appendChild(newTocNavItemLink);
        tocContainer.appendChild(newTocNavItem);
      });
    }
    generatePageTOC();

    /**
     * Copy to clipboard
     * Powered by https://clipboardjs.com
     **/
    new ClipboardJS('.copy-to-clipboard-btn');

    // Attach id attribute to all pre > code elements and append a button
    document.querySelectorAll('pre code').forEach(function(el, index) {
      el.setAttribute('id', 'code-block-' + index);
    });

    // Add copy-to-clipboard buttons. Begin by wrapping all pre elements in a div...
    document.querySelectorAll('pre').forEach(function(el, index) {

      // Create the wrapper div and apply classes on it
      var wrapper = document.createElement('div');
      wrapper.classList.add('code-block-container');

      // Place the wrapper div before the pre element
      el.parentNode.insertBefore(wrapper, el);

      // Move the pre element inside the wrapper div
      wrapper.appendChild(el);

      // Append a copy to clipboard button after each code block
      wrapper.insertAdjacentHTML('beforeend', `<button type="button" class="copy-to-clipboard-btn" data-clipboard-target="#code-block-${index}"><i class="fas fa-clipboard fa-lg"></i></button>`);
    });
  </script>

</body>
</html>
